<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue demo</title>
    <link rel="stylesheet" href="css/public.css">
</head>
<body>

<div id="app" class="box">
    {{message}}
</div>

<div class="box" id="app2">
    <span v-bind:title="message">
        鼠标悬停查看动态绑定信息
    </span>
</div>

<div class="box" id="app_3">
    <p v-if="seen">看见了</p>
</div>

<div id="app_4" class="box">
    <p v-for="m in info">{{m.text}}</p>
</div>

<div class="box" id="app_5">
   <button v-on:click="test">test</button>
   <button v-on:click="test2">test2</button>
</div>


<div class="box" id="app_6">
    <p>{{info}}</p>
    <p><input type="text" v-model="info"></p>

</div>


<div class="box" id="numb1">
    <input type="text" v-model="number">
    {{number+1}}
    <div>
        {{'ok'?"liu":"xia"}}
    </div>
    <div>
        <a v-bind:href="url">baidu</a>
    </div>
</div>


<div class="box" id="kess">
    <div>
        <a :href="url">必应</a>
    </div>
    <div>
        <button @click="dosth">do</button>
    </div>
</div>


<div class="box" id="computed_1">
    <div class="pad10">
        normal info is:{{info}}
    </div>
    <div class="pad10">
        computed info is:{{reverInfo}}
    </div>
    <div class="pad10">
        computed date is:{{now1}}
    </div>
    <div class="pad10">
        methods date is :{{now2()}}
    </div>
</div>

<script src="node_modules/vue/dist/vue.min.js"></script>
<script src="js/demo.js"></script>
</body>
</html>